* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#loading {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #ffffff url(../img/loading.gif) no-repeat center;
	z-index: 10000;
}

::-webkit-scrollbar {
	width: 1.2rem;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #5e5e5e;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.6rem;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
	color: #000;
}
.container {
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 0;
}
a,
button {
	cursor: pointer;
	outline: 0;
	border: none;
}
section {
	overflow: hidden;
}
section h2 {
	font-size: 3.5rem;
	text-align: center;
	text-transform: uppercase;
}
.header_top {
	overflow: hidden;
	padding: 0.5rem 0;
	background: #01c4e6;
	position: relative;
}
.header_top .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.left span {
	color: #fff;
}
.header_top p {
	color: #fff;
	font-size: 1.3rem;
	font-weight: lighter;
	font-family: cursive;
	font-style: italic;
}
.header_top .left {
	display: flex;
	justify-content: space-between;
}
.header_top .left p:nth-child(1) {
	margin-right: 30px;
}
.header_top .right {
	text-align: left;
}
.header_top .right a {
	font-size: 2rem;
	margin-right: 0.4rem;
	color: #fff;
	transition: all 0.2s ease;
}
.header_top .right a:hover {
	color: #007afc9e;
}
.header_top .right a:last-child {
	margin-right: 0;
}
.menu_section {
	position: sticky;
	top: 0;
	padding: 1.5rem 0;
	overflow: visible;
	background-image: linear-gradient(
		to right,
		#d0fff6,
		#adf4e6,
		#87e9d6,
		#5bdec6,
		#00d2b5
	);
	z-index: 9999;
	border-bottom: 1px solid #aaa;
	box-shadow: 0 0.2rem 0.4rem -0.1rem rgba(0, 0, 0, 0.6),
		0 2px 4px -1px rgb(0 0 0 / 25%);
}
.menu_section .container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.logo {
	height: 4rem;
}
.hamburger_menu {
	display: none;
	cursor: pointer;
	font-size: 3rem;
	color: #fff;
	padding: 0 0.7rem;
	padding-bottom: 0.2rem;
	border-radius: 0.5rem;
	border: 1px solid #0e0e0ea8;
	transition: all 0.2s ease-in;
	transform: scale(0.9);
}
.hamburger_menu:hover {
	color: #fff;
	background-color: #000000af;
	border-color: #f1f1f1;
	transform: scale(1);
}
.menu_section .container nav {
	display: flex;
	column-gap: 0.6rem;
}
.menu_section .container nav a {
	font-family: 'Operator Mono';
	text-transform: uppercase;
	padding: 0.3rem 1.2rem;
	font-size: 1.7rem;
	color: #000000cf;
	border-radius: 0.5rem;
	transition: all 0.2s ease;
}
.menu_section .container nav a:focus,
.menu_section .container nav a:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.386);
}
.menu_section .container nav span {
	display: none;
}
.banner_section {
	width: 100%;
	height: 80vh;
	overflow: hidden;
}
.banner_section .container {
	height: 100%;
	width: 100%;
	max-width: 100%;
}
.swiper {
	margin: 0;
	width: 100%;
	height: 100%;
	color: #fff;
}
.swiper-slide {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 9rem 0;
}
.swiper-slide span {
	font-size: 3rem;
}
.swiper-slide h1 {
	margin-top: 3rem;
	font-size: 4.5rem;
}
.swiper-slide p {
	margin-top: 2rem;
	padding: 0 20%;
	line-height: 1.6;
}
.swiper-slide button {
	margin-top: 7rem;
	padding: 1.2rem 3rem;
	font-size: 2rem;
	background-color: #000000cf;
	color: #fff;
	border: 0.1rem solid #aaa;
	transition: all 0.3s ease-in-out;
}
.swiper-slide button:hover {
	background-image: linear-gradient(
		to right top,
		#0d141d,
		#091f26,
		#0b2928,
		#1b3225,
		#323921
	);
	border: 1px solid;
	color: #fff;
	transition: all 0.3s ease-in-out;
}
.swiper-button-next,
.swiper-button-prev {
	color: #c6c6c690;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
	color: #fff;
}
.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 3rem;
	font-weight: 800;
	transition: all 0.1s ease-in;
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
	font-size: 3.5rem;
	font-weight: 800;
}
.swiper-pagination {
	margin-bottom: 2rem;
}
.swiper-pagination-bullet {
	height: 0.34rem;
	width: 2.5rem;
	border-radius: 0;
	background-color: #fff;
	transition: all 0.3s ease-in;
}
.swiper-pagination-bullet-active {
	background-color: #fff;
}
.item1 {
	background: url(../img/banner/5.png) no-repeat center center;
	background-size: cover;
}
.item2 {
	background: url(../img/banner/1.jpg) no-repeat center center;
	background-size: cover;
}
.item3 {
	background: url(../img/banner/2.jpg) no-repeat center center;
	background-size: cover;
}
.item4 {
	background: url(../img/banner/4.jpg) no-repeat center center;
	background-size: cover;
}
.about_section {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(45deg, #e90707b9, #8e8e8ee2, #27b8e4db),
		url(../img/about/about-background.jpg) no-repeat fixed center center;
	background-size: cover;
}
.about_section .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 8rem;
	padding-top: 12rem;
	padding-bottom: 12rem;
}
.about_section .container h2 {
	color: #f1f1f1;
}
.about_section .container .text {
	margin-top: 2rem;
	color: #f1f1f1;
	text-align: center;
	line-height: 1.5;
}
.about_section .container .systems_container {
	display: flex;
	justify-content: space-between;
	column-gap: 2rem;
	text-align: center;
}
.about_section .container .systems_container img {
	max-width: 12rem;
	max-height: 12rem;
	object-fit: cover;
	border-radius: 50%;
	border: 0.3rem solid #d0d0d0;
	margin-bottom: 2rem;
}
.about_section .container .systems_container h3 {
	font-weight: 500;
	font-size: 2.5rem;
	color: #f1f1f1;
}
.about_section .container .systems_container p {
	margin-top: 1rem;
	font-size: 1.5rem;
	line-height: 1.4;
	padding: 0 10%;
	text-align: center;
	color: #f1f1f1;
}
.volunteer_section {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(45deg, #1738f2, #0674fcf3, #03c4ff);
	padding: 7rem 0;
}
.volunteer_section .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}
.volunteer_section .container div:first-child {
	width: 80%;
	padding: 0 10%;
	text-align: left;
}
.volunteer_section .container div:first-child h2 {
	text-align: left;
}
.volunteer_section .container div:first-child span {
	color: #80ff00;
	font-family: cursive;
}
.volunteer_section .container div:first-child p {
	margin-top: 1rem;
	font-size: 1.5rem;
	line-height: 1.5;
}
.volunteer_section .container div:last-child {
	width: 20%;
	text-align: center;
}
.volunteer_section .container div:last-child button {
	font-size: 1.8rem;
	text-transform: uppercase;
	padding: 1.5rem 7rem;
	color: #f1f1f1;
	background-color: #00fe2aad;
	-webkit-box-shadow: 0 8px 15px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0 8px 15px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 0 8px 15px -4px rgba(0, 0, 0, 0.75);
	transition: all 0.2s ease-in;
}
.volunteer_section .container div:last-child button:hover {
	color: #fff;
	background-color: #00fcce;
}
.work_section {
	overflow: hidden;
	width: 100%;
	padding-top: 10rem;
	padding-bottom: 10rem;
	background: linear-gradient(#dd55f2a6, rgba(105, 98, 245, 0.837), #2441e2e2);
}
.work_section h2 {
	color: #fff;
	margin-bottom: 1rem;
}
.work_section p {
	color: #fff;
	width: 100%;
	padding: 0 15%;
	line-height: 1.5;
}
.work_section .container {
	display: flex;
	flex-direction: column;
	row-gap: 4rem;
	text-align: center;
}
.work_section .container .buttons {
	width: 100%;
}
.work_section .container .buttons button {
	font-size: 1.6rem;
	text-transform: uppercase;
	padding: 1rem 2rem;
	background: #0101017c;
	color: #f1f1f1;
	transition: all 0.3s ease;
	margin: 1rem 0.5rem;
	border-radius: 0.4rem;
	background-image: none;
	transition: all 0.3s ease-in;
}
.work_section .container .buttons button:hover {
	color: #fff;
	background-image: linear-gradient(
		to right top,
		#0d141d,
		#091f26,
		#0b2928,
		#1b3225,
		#323921
	);
}
.work_section .container .bottom {
	width: 100%;
}
.work_section .container .bottom .image_gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-auto-flow: row dense;
	overflow: hidden;
	border-radius: 0.5rem;
	border: 0.5rem solid #11111184;
	box-shadow: 0 5px 49px -7px #fff;
	margin: 0 10%;
}
.work_section .container .bottom .image_gallery .items {
	height: auto;
	margin: 0.1rem;
	overflow: hidden;
	position: relative;
}
.work_section .container .bottom .image_gallery .items::after {
	content: '\002B';
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #000000e3;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
	font-weight: 800;
	opacity: 0;
	cursor: pointer;
}
.work_section .container .bottom .image_gallery .items:hover.items::after {
	opacity: 1;
	transition: 0.3s ease;
}
.work_section .container .bottom .image_gallery .items:hover img {
	transform: scale(1.2);
}
.work_section .container .bottom .image_gallery .items img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.3s ease;
}
.work_section .container .image_gallery .items:first-child {
	grid-column: 1/3;
}
.work_section .container .image_gallery .items:nth-child(2) {
	grid-column: span 1;
}
.work_section .container .image_gallery .items:nth-child(3) {
	grid-row: span 2;
}
.work_section .container .image_gallery .items:nth-child(4) {
	grid-column: span 1;
}
.work_section .container .image_gallery .items:nth-child(5) {
	grid-column: span 2;
}
.achivement_section {
	overflow: hidden;
	width: 100%;
	padding: 10rem 0;
	background: #fbfbfd;
}
.achivement_section .container {
	display: flex;
	flex-direction: column;
	row-gap: 6rem;
}
.achivement_section .container .top {
	text-align: center;
}
.achivement_section .container .top h2 {
	color: #000;
}
.achivement_section .container .top p {
	font-size: 1.5rem;
	margin-top: 1rem;
	line-height: 1.5;
	color: #000;
	padding: 0 10%;
}
.achivement_section .container .bottom {
	display: flex;
	justify-content: space-between;
}
.achivement_section .container .bottom .item {
	width: 18%;
	text-align: center;
}
.achivement_section .container .bottom .item img {
	max-width: 8.6rem;
	max-height: 9rem;
	object-fit: contain;
}
.achivement_section .container .bottom .item .num {
	margin-top: 2rem;
	font-size: 2.5rem;
	font-weight: 700;
}
.achivement_section .container .bottom .item span {
	display: block;
	margin-top: 1rem;
	font-size: 1.5rem;
	text-transform: uppercase;
}
.event_section {
	width: 100%;
	background-color: #d8d8d8d2;
	padding-top: 10rem;
	padding-bottom: 10rem;
	overflow: hidden;
}
.event_section .container {
	display: flex;
	flex-direction: column;
	row-gap: 7rem;
	align-items: center;
}
.event_section .container .row:first-child {
	width: 100%;
	padding: 0 10%;
	text-align: center;
}
.event_section .container .row:first-child h2 {
	margin-bottom: 1rem;
}
.event_section .container .row:first-child p {
	line-height: 1.5;
}
.event_section .container .row:last-child {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.event_section .container .row:last-child .left {
	width: 49%;
	display: flex;
	flex-direction: column;
	background-color: #eff0f2;
	border: 0.1rem solid #d3d3d3;
}
.event_section .container .row:last-child .left .bottom,
.event_section .container .row:last-child .left .top {
	display: flex;
	text-align: center;
}
.event_section .container .row:last-child .left .bottom img,
.event_section .container .row:last-child .left .top img {
	width: 50%;
	height: auto;
	opacity: 1;
}
.event_section .container .row:last-child .left .bottom div,
.event_section .container .row:last-child .left .top div {
	width: 50%;
	padding: 1rem;
	text-align: center;
}
.event_section .container .row:last-child .left .bottom h3,
.event_section .container .row:last-child .left .top div h3 {
	text-align: center;
	margin-top: 1rem;
	font-size: 2rem;
	font-weight: 300;
}
.event_section .container .row:last-child .left .bottom div span,
.event_section .container .row:last-child .left .top div span {
	display: block;
	margin-top: 1rem;
	font-size: 1.5rem;
	color: #000;
}
.event_section .container .row:last-child .left .bottom div p,
.event_section .container .row:last-child .left .top div p {
	margin-top: 1rem;
	font-size: 1.5rem;
	line-height: 1.2;
}
.event_section .container .row:last-child .left .bottom div button,
.event_section .container .row:last-child .left .top div button {
	margin-top: 1.5rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	padding: 1rem 2rem;
	color: #fff;
}
.event_section .container .row:last-child .left .top div button {
	background-color: #30e215c8;
	transition: all 0.3s ease-in;
}
.event_section .container .row:last-child .left .top div button:hover {
	background-color: #158a03;
}
.event_section .container .row:last-child .left .bottom div button {
	background-color: #000000c4;
	transition: all 0.3s ease-in;
}
.event_section .container .row:last-child .left .bottom div button:hover {
	background-color: #000;
}
.event_section .container .row:last-child .right {
	width: 49%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #eff0f2;
	border: 0.1rem solid #d3d3d3;
}
.event_section .container .row:last-child .right .events {
	display: flex;
}
.event_section .container .row:last-child .right .events img {
	max-width: 8rem;
	max-height: 7.5rem;
}
.event_section .container .row:last-child .right .events div {
	margin-left: 2rem;
}
.event_section .container .row:last-child .right .events div h3 {
	font-size: 1.9rem;
	font-weight: 300;
	margin-bottom: 1rem;
}
.event_section .container .row:last-child .right .events div p {
	font-size: 1.5rem;
}
.testimonial_section {
	padding-top: 12rem;
	padding-bottom: 10rem;
	overflow: hidden;
	background: linear-gradient(45deg, #181818cd, #212020c8, #091e24bd),
		url(../img/testimonials/night\ view.jpg) no-repeat fixed center;
	background-size: cover;
}
.testimonial_section .container {
	display: flex;
	flex-direction: column;
	row-gap: 12rem;
}
.testimonial_section .container .row:first-child {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	align-items: center;
	color: #fff;
	text-align: center;
}
.testimonial_section .container .row:first-child p {
	font-size: 1.5rem;
	padding: 0 20%;
	line-height: 1.5;
}
.testimonial_section .container .row:last-child {
	display: flex;
	flex-direction: row;
}
.testimonial_section .container .row:last-child .testimonials {
	position: relative;
	margin: 0 1.5%;
}
.testimonial_section .container .row:last-child .testimonials img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -7rem;
	border-radius: 50%;
	border: 0.2rem solid #00d2b5;
	z-index: 1;
}
.testimonial_section .container .row:last-child .testimonials p {
	background-color: #ffffffde;
	padding: 7rem 2rem 3rem 2rem;
	text-align: left;
	font-size: 1.5rem;
	line-height: 1.4;
	border-radius: 1rem;
	transition: all 0.2s ease-in;
}
.testimonial_section .container .row:last-child .testimonials .quotation {
	font-weight: bolder;
}
.testimonial_section .container .row:last-child .testimonials h3 {
	margin-top: 3rem;
	color: #fff;
	font-size: 2.2rem;
	text-align: center;
	font-family: cursive;
}
.testimonial_section .container .row:last-child .testimonials .catagory {
	margin-top: 0.5rem;
	color: #40a904;
	display: block;
	text-align: center;
}
.contact_section {
	overflow: hidden;
	padding-top: 10rem;
	padding-bottom: 8rem;
	background-color: #eee;
}
.contact_section .container {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 7rem;
}
.contact_section .container .row:first-child {
	width: 100%;
	text-align: center;
}
.contact_section .container .row:first-child p {
	margin-top: 1rem;
	font-size: 1.5rem;
	line-height: 1.5;
	padding: 0 15%;
}
.contact_section .container .row:last-child {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.contact_section .container .row:last-child .left {
	width: 50%;
	padding: 0 2rem;
}
.contact_section .container .row:last-child .left {
	display: flex;
	flex-direction: column;
}
.contact_section .container .row:last-child .left h3,
.contact_section .container .row:last-child .right h3 {
	font-size: 2.1rem;
	margin-bottom: 2rem;
}
.contact_section .container .row:last-child .left .address {
	text-align: left;
}
.contact_section .container .row:last-child .left .address {
	display: flex;
	flex-direction: column;
	row-gap: 0.6rem;
	text-align: left;
}
.contact_section .container .row:last-child .left .address p {
	font-size: 1.4rem;
}
.contact_section .container .row:last-child .left .address i {
	color: #696969;
}
.contact_section .container .row:last-child .left .google_map {
	margin-top: 3rem;
	border: 0.1rem solid #d4d4d4;
}
.contact_section .container .row:last-child .right {
	width: 50%;
	padding: 0 2rem;
	text-align: left;
}
.contact_section .container .row:last-child .right form {
	width: 100%;
	text-align: center;
}
.contact_section .container .row:last-child .right form input:nth-child(1),
.contact_section .container .row:last-child .right form input:nth-child(2) {
	width: 48%;
	float: left;
	background-color: #d4d4d4;
	font-size: 1.6rem;
	padding: 1.3rem 1rem;
	border: none;
	outline: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact_section .container .row:last-child .right form input:nth-child(2) {
	float: right;
}
.contact_section .container .row:last-child .right form textarea {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.6rem;
	padding: 1rem;
	width: 100%;
	height: 4.8rem;
	outline: 0;
	border: none;
	margin-top: 2rem;
	resize: none;
	background-color: #d4d4d4;
}
.contact_section .container .row:last-child .right form .message {
	height: 17rem;
}
.contact_section .container .row:last-child .right form button {
	margin-top: 3rem;
	width: 50%;
	background-color: #43a906;
	color: #fff;
	padding: 1.5rem 5rem;
	font-size: 1.6rem;
	text-transform: uppercase;
	transition: all 0.2s ease;
}
.contact_section .container .row:last-child .right form button:hover {
	background-color: #348a02;
}
.footer_section {
	overflow: hidden;
	padding: 3rem 0;
	background-color: #263238;
	color: #fff;
}
.footer_section .container {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	text-align: center;
}
.footer_section .container .copyright {
	text-align: center;
	line-height: 2;
}
.footer_section .container .social a {
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 2rem;
	width: 4rem;
	height: 4rem;
	border: 1px solid #969696;
	border-radius: 50%;
	margin: 0 0.3rem;
}
.footer_section i {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.scrollToTop-btn {
	z-index: 999;
	position: fixed;
	background: #3a6cf4;
	color: #fff;
	width: 4.5rem;
	height: 4.5rem;
	right: 0;
	bottom: 1rem;
	font-size: 2.2rem;
	text-align: center;
	line-height: 4.5rem;
	border-radius: 0.3rem;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.scrollToTop-btn span {
	display: block;
	font-size: 2.5rem;
}
.scrollToTop-btn.active {
	right: 1.5rem;
	opacity: 1;
	pointer-events: auto;
}
.mapouter {
	position: relative;
	text-align: right;
	width: 100%;
	height: 300px;
}
.gmap_canvas {
	overflow: hidden;
	background: 0 0;
	width: 100%;
	height: 300px;
}
.gmap_iframe {
	width: 100%;
	height: 300px;
	border: none;
	outline: 0;
	margin: 0;
	padding: 0;
}
@media only screen and (max-width: 425px) {
	section h2 {
		font-size: 2.5rem !important;
	}
	.swiper-slide span {
		font-size: 1.8rem;
	}
	.swiper-slide h1 {
		font-size: 2.5rem;
	}
	.swiper-slide p {
		margin-top: 1rem;
		font-size: 1.4rem;
		padding: 0 7%;
	}
	.swiper-slide button {
		margin-top: 6rem;
		font-size: 1.5rem;
	}
}
@media only screen and (max-width: 768px) {
	.container {
		padding: 0 1rem;
	}
	section h2 {
		font-size: 3rem;
	}
	.header_top {
		padding: 0.5rem 0;
	}
	.header_top .left {
		display: flex;
		flex-direction: column;
		width: 50%;
	}
	.header_top .left p {
		font-size: 1.2rem;
	}
	.header_top .left p:nth-child(1) {
		margin-right: 0;
		margin-bottom: 0.5rem;
	}
	.header_top .right {
		width: 50%;
		text-align: right;
	}
	.header_top .right a {
		font-size: 1.7rem;
	}
	.swiper-slide {
		padding-top: 6rem;
	}
	.swiper-slide p {
		margin-top: 1rem;
		font-size: 1.4rem;
		padding: 0 10%;
	}
	.swiper-slide button {
		margin-top: 5rem;
	}
	.swiper-button-next::after,
	.swiper-button-prev::after {
		font-size: 2.5rem;
	}
	.swiper-button-next:hover::after,
	.swiper-button-prev:hover::after {
		font-size: 3rem;
	}
	.about_section .container .systems_container {
		display: flex;
		flex-direction: column;
		row-gap: 8rem;
		text-align: center;
	}
	.about_section .container .systems_container p {
		margin-top: 1rem;
		line-height: 1.6;
		padding: 0 15%;
	}
	.achivement_section .container .bottom {
		display: flex;
		flex-direction: column;
		row-gap: 5rem;
		align-items: center;
	}
	.testimonial_section .container .row:last-child {
		display: flex;
		flex-direction: column;
		row-gap: 13rem;
	}
	.testimonial_section .container .row:last-child .testimonials {
		margin: 0 5%;
	}
	.contact_section .container .row:last-child {
		display: flex;
		flex-direction: column;
		row-gap: 5rem;
		align-items: center;
	}
	.contact_section .container .row:last-child .left {
		width: 100%;
		text-align: center;
	}
	.contact_section .container .row:last-child .right {
		width: 100%;
		text-align: center;
	}
}
@media only screen and (max-width: 1023px) {
	.header_top {
		visibility: hidden;
		height: 0;
		padding: 0;
	}
	.hamburger_menu {
		display: block;
	}
	.menu_section .container nav {
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 1.3rem;
		background-color: #000000e9;
		padding-top: 10rem;
		-webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
		-moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
		-o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
		transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
	}
	.menu_section .container nav.width {
		width: 100%;
	}
	.menu_section .container nav a {
		font-family: 'Operator Mono';
		text-transform: uppercase;
		padding: 0.3rem 1.2rem;
		font-size: 3rem;
		color: #b1b1b1;
		border-radius: 0.5rem;
		transition: all 0.2s ease-in;
	}
	.menu_section .container nav a:focus,
	.menu_section .container nav a:hover {
		color: #fff;
		background-color: #ffffff66;
	}
	.menu_section .container nav span {
		display: block;
		cursor: pointer;
		position: absolute;
		top: 2rem;
		right: 3rem;
		font-size: 4.5rem;
		font-weight: 400;
		color: #fff;
	}
	.menu_section .container nav span:hover {
		color: red;
	}
	.volunteer_section .container {
		display: flex;
		flex-direction: column;
		row-gap: 5rem;
	}
	.volunteer_section .container div:first-child {
		text-align: center;
		width: 100%;
	}
	.volunteer_section .container div:last-child {
		width: 100%;
	}
	.work_section .container .bottom .image_gallery {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-auto-flow: row dense;
		overflow: hidden;
		margin: 0 10%;
	}
	.work_section .container .image_gallery .items:first-child {
		grid-column: 1/3;
	}
	.work_section .container .image_gallery .items:nth-child(2) {
		grid-column: span 1;
	}
	.work_section .container .image_gallery .items:nth-child(3) {
		grid-row: span 2;
	}
	.work_section .container .image_gallery .items:nth-child(4) {
		grid-column: span 1;
	}
	.work_section .container .image_gallery .items:nth-child(5) {
		grid-column: span 2;
	}
	.event_section .container .row:last-child {
		display: flex;
		flex-direction: column;
		row-gap: 5rem;
		justify-content: space-between;
		align-items: center;
		margin: 0 2%;
	}
	.event_section .container .row:last-child .left {
		width: 100%;
	}
	.event_section .container .row:last-child .right {
		width: 100%;
	}
}
@media only screen and (max-width: 1200px) {
	.container {
		padding: 0 0.8rem;
	}
	.banner_section .container {
		padding: 0 0;
	}
}
